html, body, p, a {
    margin: 0px;
    padding: 0px;
}

.project-card {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-radius: 0px;
    border-width: 2px;
    align-items: stretch;
    padding: 0px;
    width: 20em;
}

.project-card p {
    padding: 10px;
    margin: 0px;
    margin-bottom: 20px;
    align-self: center;
}

.card-links {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.card-links .link {
    flex: 1 1 0;
}

.card-links img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    padding: 10px;
}

#repo-link {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(118,242,100,1) 0%, rgba(186,244,190,1) 100%);    
    border-bottom-left-radius: 0px;
}

#live-link {
    background-image: linear-gradient(to right, red, white);
    border-bottom-right-radius: 10px;
}